<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='商品管理', active='goods'">
<header th:replace="mng/header::headerFragment(${title},${active})"></header>


<style type="text/css">

    <!--bootstrap 表格列溢出时省略标记-->
    table{
        width:100px;
        table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
    }
    td{
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
        -o-text-overflow:ellipsis;
        -icab-text-overflow: ellipsis;
        -khtml-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
    }

</style>

<body class="fixed-left">
<div id="wrapper">
    <!-- 页面头部区域-->
    <div th:replace="mng/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">

                    <!--名称-->
                    <div class="row-fluid">
                        <h4 class="page-title">商品管理</h4>
                    </div>

                    <!--查询框-->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group form-inline" style="border: 1px solid #ccc;padding: 10px; border-radius: 3px;">
                                <div class="input-group input-group">
                                    <label for="goodsName">商品名称</label>&nbsp;
                                    <input id="goodsName" type="text"/>&nbsp;
                                </div>
                                <button id="btn_search" type="button" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
                                </button>&nbsp;

                                <button id="btn_clean_search" type="button" class="btn btn-danger btn-sm">清空条件</button>

                            </div>
                        </div>
                    </div>

                    <!-- 工具栏 -->
                    <div id="toolbar" class="btn-group">
                        <button id="btn_add" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                        </button>
                    </div>

                    <!-- 表格 -->
                    <table id="goodsTable" class="table table-hover" ></table>
                </div>
            </div>
            <!--页面底部 文字内容 区域-->
            <div th:replace="mng/footer :: footer-content"></div>
        </div>
    </div>
</div>

<!-- 新增或修改弹框 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="addAndUpdateLabel">新增商品信息</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="txt_type" class="form-control" id="txt_type" placeholder="操作类型" />
                <input type="hidden" name="txt_id" class="form-control" id="txt_id" placeholder="编号" />
                <div class="form-group">
                    <label for="goods_name">商品名称</label>
                    <input type="text" name="goods_name" class="form-control" id="goods_name" placeholder="商品名称" />
                </div>
                <div class="form-group">
                    <label for="goods_desc">商品描述</label>
                    <textarea type="textarea" name="goods_desc" class="form-control" id="goods_desc" placeholder="商品描述" style="resize: none; height: 120px" />
                </div>
                <div class="form-group">
                    <label for="goods_price">商品单价</label>
                    <input type="number" name="goods_price" class="form-control" id="goods_price" placeholder="商品单价" min="0"/>
                </div>
                <div class="form-group">
                    <label for="goods_small_image_url">商品列表展示图片</label>
                    <input type="file" id="goods_small_image" class="file-load" data-language="zh" />
                    <input type="hidden" id="goods_small_image_url" name="goods_small_image_url" class="file-load" data-language="zh" value=""/>
                </div>
                <div class="form-group">
                    <label for="goods_big_image_url">商品详情展示图片</label><span style="color: red">（最多支持三张）</span>
                    <input type="file" id="goods_big_image" class="file-load" data-language="zh" multiple="multiple" />
                    <input type="hidden" id="goods_big_image_url" name="goods_big_image_url" class="file-load" data-language="zh" value=""/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                </button>
                <button id="btn_add_submit" type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><span
                        class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                </button>
            </div>
        </div>
    </div>
</div>

<!--页面底部区域-->
<div th:replace="mng/footer :: footer"></div>




<script type="text/javascript">

    var $table = $('#goodsTable');

    //bootstrapTable使用中文
    $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['zh-CN']);

    //防止表头与表格不对齐
    $(window).resize(function () {
        $table.bootstrapTable('resetView');
    });

    $(function () {
        //使用严格模式
        "use strict";

        // 表格初始化
        tableInit();
        $('#goodsTable').bootstrapTable('hideLoading');

        // 上传组件初始化
        var oFileInput = new FileInput();
        oFileInput.Init("goods_small_image", "/mng/goods/fileupload");

        var oFileInput1 = new FileInput1();
        oFileInput1.Init("goods_big_image", "/mng/goods/fileupload");
    });

    //初始化Table
    function tableInit() {
        //先销毁表格
        $table.bootstrapTable('destroy');

        $table.bootstrapTable({
            url: '../mng/goods/pageList',   // 请求地址
            method: 'post',                 // 请求方式
            contentType: "application/x-www-form-urlencoded",  //请求内容类型
            dataType: "json",               //数据类型
            //height: '600',               //table高度，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            striped: true,                  //是否显示行间隔色
            //sortable: true,              //是否启用排序
            //sortOrder: "asc",            //排序方式
            cache: false,                   //是否使用缓存
            uniqueId: "goodsId",            //每行的唯一标识
            toolbar: "#toolbar",            //指定工具栏
            showColumns: true,              //显示隐藏列
            showRefresh: true,              //显示刷新按钮
            showToggle: false,              //切换显示样式
            showFooter: false,              //显示Table脚部
            cardView: false,                //是否显示详细视图
            pagination: true,               //是否显示分页
            showPaginationSwitch: true,     //是否显示分页按钮
            clickToSelect: false,           //是否启用点击选中行
            minimumCountColumns: 2,         //最少要显示的列数
            undefinedText: '-',             //cell没有值时显示
            detailView: true,               //是否显示父子表
            //detail格式化
            detailFormatter: genderDetail,  //详情格式化函数
            sidePagination: "server",       //分页方式：client客户端分页，server服务端分页
            pageSize: 10,                   //每页的记录行数
            pageNumber: 1,                  //初始化加载第1页，默认第1页
            pageList: "[10, 30, 60, 100]",  //可供选择的每页的行数（*）
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "末页",
            buttonsClass: 'default',
            iconsPrefix: 'glyphicon',
            queryParams: queryParams,       //得到查询的参数
            icons: {                        //自定义图标
                paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
                paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
                refresh: 'glyphicon-refresh icon-refresh',
                toggle: 'glyphicon-list-alt icon-list-alt',
                columns: 'glyphicon-th icon-th',
                    detailOpen: 'glyphicon-plus icon-plus',
                detailClose: 'glyphicon-minus icon-minus'
            }
            , columns: [
            // checkbox
            //     {
            //     field: 'state',
            //     checkbox: true,
            //     align: 'center',
            //     valign: 'middle',
            // },
                {
                title: '序号',
                field: 'index',
                align: 'center',
                valign: 'middle',
                formatter: genderIndex,
                width:60
            },{
                title: '商品名称',
                field: 'goodsName',
                align: 'center',
                valign: 'middle'
            },{
                title: '商品描述',
                field: 'goodsDesc',
                align: 'center',
                valign: 'middle'
            },{
                title: '商品单价',
                field: 'goodsPrice',
                align: 'center',
                valign: 'middle',
                formatter : goodsPriceFormat,
                sortable: true
            },{
                title: '商品总销量',
                field: 'goodsSalesVolume',
                align: 'center',
                valign: 'middle',
                sortable: true
            },{
                title: '创建时间',
                field: 'createTime',
                align: 'center',
                valign: 'middle',
                sortable: true,
                width:180
            },{
                title: '最后更新时间',
                field: 'updateTime',
                align: 'center',
                valign: 'middle',
                width:180
            },{
                title: '状态',
                field: 'delete',
                align: 'center',
                valign: 'middle',
                formatter: goodsDeleteFormat,
                width:90
            },{
                title: '操作',
                field: 'operate',
                align: 'center',
                events: operateEvents,
                formatter: genderOpt,
                width:90
            }],
            responseHandler: function (res) {
                var resultDataList;
                if (res.total > 0) {
                    resultDataList = {
                        "total": res.total,
                        "rows": res.list,
                    };
                } else {
                    resultDataList = {
                        "total": 0,
                        "rows": [],
                    }
                }
                return resultDataList;
            }, onLoadSuccess: function () {
                //加载成功时执行
                console.log("加载成功!");
                $('.bootstrap-table tr td').each(function () {
                    $(this).attr("title", $(this).text());
                    $(this).css("cursor", 'pointer');
                });
            }, onLoadError: function () {
                //加载失败时执行
                //layer.msg("加载失败!", {icon: 2, time: 2000});
                console.info("加载失败")
            }, formatLoadingMessage: function () {
                //正在加载
                return "请稍等，正在加载中...";
            }, formatNoMatches: function () {
                //没有匹配的结果
                return '无符合条件的记录';
            }
        })
    }

    //生成详细视图
    function genderDetail(index, row) {
        var html = [];

        html.push("<img src=" + row.goodsSmallImageUrl + " alt=" + '商品列表图' + " height=" + '200' + " width=" + '200' + "/>");
        html.push("<img src=" + row.goodsBig1ImageUrl + " alt=" + '商品详情图1' + " height=" + '200' + " width=" + '200' + "/>");
        html.push("<img src=" + row.goodsBig2ImageUrl + " alt=" + '商品详情图2' + " height=" + '200' + " width=" + '200' + "/>");
        html.push("<img src=" + row.goodsBig3ImageUrl + " alt=" + '商品详情图3' + " height=" + '200' + " width=" + '200' + "/>");

        return html.join('');
    }

    //生成序号
    function genderIndex(value, row, index) {
        return index + 1;
    }

    //自定义列内容
    function genderOpt(value, row, index) {
        var editOpt = '<a id="edit" href="javascript:void(0)" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>';
        var deleteOpt = '<a id="remove" href="javascript:void(0)" title="删除" ><i class="glyphicon glyphicon-trash"></i></a>';

        var html1 = [];
        if(row.delete){
            html1.push(editOpt);
        }else{
            html1.push(editOpt);
            html1.push("&nbsp;&nbsp;");
            html1.push(deleteOpt);
        }

        return html1.join('');
    }

    //自定义列内容事件
    window.operateEvents = {
        'click #edit': function (e, value, row, index) {
            editData(row);
        },
        'click #remove': function (e, value, row, index) {
            delData(row.goodsId);
        }
    };

    //查询条件与分页数据
    function queryParams(params) {

        //第几页
        params.pageNumber = this.pageNumber;

        //每页记录数
        params.pageSize = this.pageSize;

        //name
        params.goodsName = $("#goodsName").val();

        return params;
    }

    //清空条件按钮点击事件
    $("#btn_clean_search").on("click", function () {
        $('#goodsName').val("");
        refresh();
    });

    //查询按钮点击事件
    $("#btn_search").on("click", function () {
        refresh();
    });

    //刷新页面
    function refresh() {
        $table.bootstrapTable('refresh');
    }

    //商品单价格式化
    function goodsPriceFormat(value, row, index) {
        if (value == null || value == undefined) {
            return "-";
        } else {
            return value + "￥";
        }
    }

    //商品删除状态格式化
    function goodsDeleteFormat(value, row, index) {
        if (value == null || value == undefined) {
            return "-";
        }
        if (!value) {
            return "正常";
        }
        if (value) {
            return "已删除";
        }
    }

    //新增商品模态太框 保存按钮 点击事件
    $("#btn_add_submit").off().on('click', function () {

        var goodsName = $('#goods_name').val(),
            goodsDesc = $('#goods_desc').val(),
            goodsPrice = $('#goods_price').val(),
            goodsSmallImageUrl = $('#goods_small_image_url').val(),
            goodsBigImageUrl = $('#goods_big_image_url').val();
        // sex = $('input:radio[name="sex"]:checked').val(),

        //验证数据
        /* <![CDATA[ */
        if (!goodsName || goodsName.length <= 0 || goodsName == " ") {
            swal('警告', '请填写商品名称!', 'error');
            return false;
        }
        if (!goodsDesc || goodsDesc.length <= 0 || goodsDesc == " ") {
            swal('警告', '请填写商品描述!', 'error');
            return false;
        }
        if (!goodsPrice || goodsPrice <= 0 || goodsPrice == " ") {
            swal('警告', '请填写准确的商品价格!', 'error');
            return false;
        }
        if (!goodsSmallImageUrl || goodsSmallImageUrl.length <= 0 || goodsSmallImageUrl == " " || goodsSmallImageUrl == null) {
            swal('警告', '请上传商品列表展示图片!', 'error');
            return false;
        }
        if (!goodsBigImageUrl || goodsBigImageUrl.length <= 0 || goodsBigImageUrl == " " || goodsBigImageUrl == null) {
            swal('警告', '请上传商品详情展示图片!', 'error');
            return false;
        }
        /* ]]> */


        $.ajax({
            url: '../mng/goods/save',
            method: 'post',
            contentType: "application/x-www-form-urlencoded",
            async:false,
            data: {
                goodsName: goodsName,
                goodsDesc: goodsDesc,
                goodsPrice: goodsPrice,
                goodsSmallImageUrl: goodsSmallImageUrl,
                goodsBigImageUrl: goodsBigImageUrl
            },
            //阻止深度序列化，向后台传送数组
            traditional: true,
            success: function (res) {
                if (res.code == "0000") {
                    swal('提示', '新增商品成功!', 'success');
                    // 隐藏新增模态框
                    $('#addModal').modal('hide');
                    // 刷新表格
                    refresh();
                } else {
                    if(res.code == "7001"){
                        swal('警告', '新增失败，商品名称已存在!', 'error');
                    }else{
                        swal('警告', '新增失败，请来联系相关技术人员!', 'error');
                    }
                }
            }
        })
    });

    // 监听 新增模态框 关闭事件
    $("#addModal").on("hidden.bs.modal", function() {
        modelRefresh();
    });

    // 重置 新增模态框
    function modelRefresh(){
        $("#goods_small_image").fileinput('clear');
        $("#goods_big_image").fileinput('clear');

        $('#goods_name').val("");
        $('#goods_desc').val("");
        $('#goods_price').val(""),
        $('#goods_small_image_url').val("");
        $('#goods_big_image_url').val("");
    }

    // 新增按钮点击事件
    $("#btn_add").on("click", function () {
        $('#addModalLabel').text("新增商品信息");
        $('#txt_type').val("add");
        $('#addModal').modal({
            //点击ESC键,模态窗口即会退出。
            keyboard: true
        });
    });

    // 表格列中的删除按钮点击事件
    function delData(id) {
        swal({
            title: '警告',
            text: '是否删除该商品记录？',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: '删除',
            cancelButtonText: '取消'
        }).then(function(isConfirm) {
            if (isConfirm === true) {
                $.ajax({
                    url: '../mng/goods/delete',
                    method: 'POST',
                    contentType: "application/x-www-form-urlencoded",
                    //阻止深度序列化，向后台传送数组
                    traditional: true,
                    async:false,
                    data: {goodsId: id},
                    success: function (res) {
                        if (res.code == "0000") {
                            swal(
                                '提示!',
                                '删除成功!',
                                'success'
                            );
                        } else {
                            swal(
                                '提示!',
                                '删除失败，请联系相关技术人员',
                                'error'
                            );
                        }
                        refresh();
                    }
                })
            } else if (isConfirm === false) {
                // swal(
                //     'Cancelled',
                //     'Your imaginary file is safe :)',
                //     'error'
                // );
            } else {
                // Esc, close button or outside click
                // isConfirm is undefined
            }
        },
        function(dismiss) {
            if (dismiss === 'cancel') { // you might also handle 'close' or 'timer' if you used those
                // ignore
            } else {
                throw dismiss;
            }
        });
    }

    // 表格列中的中编辑按钮点击事件
    function editData(row) {
        //向模态框中传值
        $('#txt_id').val(row.id);
        $('#txt_name').val(row.name);
        $('#txt_pwd').val(row.pwd);
        $('#txt_email').val(row.email);
        $('#txt_phone').val(row.phone);
        if (row.sex == 0) {
            document.getElementById('p_woman').checked = true;
        } else {
            document.getElementById('p_man').checked = true;
        }
        $('#txt_type').val("update");

        $('#addAndUpdateLabel').text("修改用户信息");

        //显示模态窗口
        $('#addAndUpdate').modal({
            //点击ESC键,模态窗口即会退出。
            keyboard: true
        });
    }

    //初始化商品列表图片上传组件
    var FileInput = function () {
        var oFile = new Object();

        //初始化fileinput控件（第一次初始化）
        oFile.Init = function(ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);

            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                allowedFileExtensions: ['jpg','png','bmp','jpeg'],//接收的文件后缀
                showUpload: true, //是否显示上传按钮
                showCaption: true,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式
                dropZoneEnabled: true,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                //maxFileCount: 10, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: '<i class="glyphicon glyphicon-king"></i>',// 没有预览图的展示图标
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                layoutTemplates :{
                    actionDelete:'', //去除上传预览的缩略图中的删除图标
                    actionUpload:'',//去除上传预览缩略图中的上传图片；
                    //actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
                },
            });
        }
        return oFile;
    };

    // 导入文件上传完成之后的事件
    $("#goods_small_image").on("fileuploaded", function (event, data, previewId, index) {
        var goodsSmallImageUrl = data.response;
        $("#goods_small_image_url").val(goodsSmallImageUrl);

        // console.log("列表value = " + $("#goods_big_image_url").val())
    });

    // 初始化商品详情图片上传组件
    var FileInput1 = function () {
        var oFile = new Object();

        //初始化fileinput控件（第一次初始化）
        oFile.Init = function(ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);

            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                allowedFileExtensions: ['jpg','png','bmp','jpeg'],//接收的文件后缀
                showUpload: true, //是否显示上传按钮
                showCaption: true,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式
                dropZoneEnabled: true,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 3, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: '<i class="glyphicon glyphicon-king"></i>',// 没有预览图时的展示图标
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                layoutTemplates :{
                //     actionDelete:'', //去除上传预览的缩略图中的删除图标
                    actionUpload:'',//去除上传预览缩略图中的上传图片；
                //     actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
                },
            });
        }
        return oFile;
    };

    // 导入文件上传完成之后的事件
    $("#goods_big_image").on("fileuploaded", function (event, data, previewId, index) {
        var goodsBigImageUrl = data.response;
        var goodsBigImageUrlVal = $("#goods_big_image_url").val();

        if(goodsBigImageUrlVal != ''){
            $("#goods_big_image_url").val(goodsBigImageUrlVal + "qof@@d" + goodsBigImageUrl)
        }else{
            $("#goods_big_image_url").val(goodsBigImageUrl)
        }

        // console.log("详情value = " + $("#goods_big_image_url").val())
    });

</script>

</body>
</html>