<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.threebrother.qofood.dao.ReceivreAddressMapper" >

    <resultMap id="BaseResultMap" type="com.threebrother.qofood.entity.ReceiveAddress" >
        <id column="receive_address_id" property="receiveAddressId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="receive_address_content" property="receiveAddressContent" jdbcType="VARCHAR" javaType="String" />
        <result column="receive_address_zip_code" property="receiveAddressZipCode" jdbcType="VARCHAR" javaType="String"  />
        <result column="receive_address_contact_name" property="receiveAddressContactName" jdbcType="VARCHAR" javaType="String"  />
        <result column="receive_address_contact_phone" property="receiveAddressContactPhone" jdbcType="VARCHAR" javaType="String"  />
        <result column="open_id" property="userOpenId" jdbcType="VARCHAR" javaType="String"  />
        <result column="is_default" property="isDefault" jdbcType="TINYINT" javaType="Boolean"  />
        <result column="receive_address_province" property="receiveAddressProvince" jdbcType="VARCHAR" javaType="String"  />
        <result column="receive_address_city" property="receiveAddressCity" jdbcType="VARCHAR" javaType="String"  />
        <result column="receive_address_area" property="receiveAddressArea" jdbcType="VARCHAR" javaType="String"  />
        <result column="receive_address_street" property="receiveAddressStreet" jdbcType="VARCHAR" javaType="String"  />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"  />
        <result column="update_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"  />
    </resultMap>

    <sql id="Base_Column_List">
      receive_address_id, receive_address_content, receive_address_zip_code,
      receive_address_contact_name,receive_address_contact_phone, open_id, is_default,
      receive_address_province, receive_address_city, receive_address_area, receive_address_street,
      create_time, update_time
    </sql>

    <!--插入-->
    <insert id="insertReceivreAddress" parameterType="com.threebrother.qofood.entity.ReceiveAddress" >
      INSERT INTO t_receive_address
        (receive_address_content, receive_address_zip_code,
        receive_address_contact_name,receive_address_contact_phone, is_default, open_id,
        receive_address_province, receive_address_city, receive_address_area, receive_address_street)
      values
        (#{receiveAddressContent}, #{receiveAddressZipCode},
        #{receiveAddressContactName}, #{receiveAddressContactPhone}, #{isDefault}, #{userOpenId},
        #{receiveAddressProvince}, #{receiveAddressCity}, #{receiveAddressArea}, #{receiveAddressStreet})
    </insert>

    <!-- 获取用户收件地址列表个数-->
    <select id="selectCountByUserOpenId" parameterType="string" resultType="int">
      SELECT
          count(*)
      FROM
        t_receive_address
      WHERE
        open_id = #{userOpenId};
    </select>

    <!-- 获取用户收件地址列表-->
    <select id="selectReceiveAddressListByUserOpenId" parameterType="string" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
      FROM
        t_receive_address
      WHERE
        open_id = #{userOpenId};
    </select>

    <!-- 获取用户收件地址列 根据主键Id和userOpenId-->
    <select id="selectReceiveAddressByreceiveAddressIdAndUserOpenId" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
      FROM
        t_receive_address
      WHERE
        receive_address_id = #{receiveAddressId}
      AND
        open_id = #{userOpenId}
      LIMIT 1;
    </select>

    <update id="updateReceivreAddressByReceiveAddressIdAndUserOpenId" parameterType="com.threebrother.qofood.entity.ReceiveAddress">
      UPDATE
        t_receive_address
      SET
        receive_address_content = #{receiveAddressContent},
        receive_address_zip_code  = #{receiveAddressZipCode},
        receive_address_contact_name = #{receiveAddressContactName},
        receive_address_contact_phone = #{receiveAddressContactPhone},
        receive_address_province = #{receiveAddressProvince},
        receive_address_city = #{receiveAddressCity},
        receive_address_area = #{receiveAddressArea},
        receive_address_street = #{receiveAddressStreet},
        update_time = CURRENT_TIMESTAMP
      WHERE
        receive_address_id = #{receiveAddressId}
      AND
        open_id = #{userOpenId}
    </update>

    <delete id="deleteReceivreAddressByReceiveAddressIdAndUserOpenId" >
      DELETE FROM
        t_receive_address
      WHERE
        receive_address_id = #{receiveAddressId}
      AND
        open_id = #{userOpenId}
    </delete>


    <select id="selectReceiveAddressByUserOpenIdOrderByCreateTime" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
      FROM
        t_receive_address
      WHERE
        open_id = #{userOpenId}
      AND
        receive_address_id != #{receiveAddressId}
      ORDER BY
        create_time DESC
      LIMIT 1;
    </select>


    <update id="updateIsDefaultByReceiveAddressId" parameterType="Integer">
      UPDATE
        t_receive_address
      SET
        is_default = 1,
        update_time = CURRENT_TIMESTAMP
      WHERE
        receive_address_id = #{receiveAddressId}
    </update>


    <select id="selectDefaultReceiceAddressIdByUserOpenId" parameterType="String" resultType="int">
      SELECT
        receive_address_id
      FROM
        t_receive_address
      WHERE
        open_id = #{userOpenId}
      AND
        is_default = 1
      LIMIT 1;
    </select>

    <select id="selectDefaultReceiceAddressByUserOpenId" parameterType="String" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
      FROM
        t_receive_address
      WHERE
        open_id = #{userOpenId}
      AND
        is_default = 1
      LIMIT 1;
    </select>

    <select id="selectreceiveAddressListByUserOpenIdGroupByIsDefaultAndCreateTime" parameterType="String" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
      FROM
        t_receive_address
      WHERE
        open_id = #{userOpenId}
      ORDER BY
        is_default DESC,
        create_time DESC
    </select>

    <update id="updateReceiveAddressIsDefauleByUserOpenIdAndReceiveAddressId">
      UPDATE
        t_receive_address
      SET
        is_default = (CASE WHEN receive_address_id = #{receiveAddressId} THEN 1 ELSE 0 END)
      WHERE
        open_id = #{userOpenId}
    </update>


</mapper>